.DroppedElement
  margin-bottom: 20px
  max-width: 500px
  border: 1px dashed #CCD6DD
  padding: 8px

  &:last-child
    margin-bottom: unset

  &__Input
    margin-top: 20px
    width: 100%
    outline: none
    border: none
    border-bottom: 1px solid rgba(17,17,17,.4)

    &::-webkit-inner-spin-button
      appearance: none

    &::-webkit-outer-spin-button
      appearance: none

  &__Description
    color: #c3ccd7
    font-weight: 700
