.DroppedElement
  margin-bottom: 54px
  max-width: 500px

  &__Card
    border: 1px dashed #CCD6DD
    padding: 8px
    position: relative

  &:hover
    cursor: pointer

  &:last-child
    margin-bottom: unset

  &__Move
    width: max-content
    height: 20px
    cursor: move
    margin-left: auto
    position: absolute
    top: 8px
    right: 8px

  &__Input
    margin-top: 20px
    width: 100%
    outline: none
    border: none
    border: 1px solid rgba(145,145,145,.4)
    padding: 8px 10px

    &::-webkit-inner-spin-button
      appearance: none

    &::-webkit-outer-spin-button
      appearance: none

  &__Description
    color: #c3ccd7
    font-weight: 700
