.FormElements
  min-width: 180px
  height: max-content
  display: flex
  flex-direction: column
  padding: 10px
  background-color: #eff8ff

  &__Group
    display: flex
    flex-direction: column
    margin-top: 14px
