.MyElement
  width: 100%
  display: flex
  align-items: center
  box-sizing: border-box
  padding: 4px
  transition: 0.2s all
  cursor: move
  border: 1px solid #eff8ff

  &:hover
    background-color: #fff
    border-color: #e5d6d6

  &__Name
    margin-left: 8px

  &__Icon
    height: 16px
