*
  box-sizing: border-box

body
  background-color: #e0efff
  box-sizing: border-box
  font-family: system-ui

.app
  width: 100%
  display: flex

.container
  width: 100%
  max-width: 1440px
  margin: 0 auto
